<% provide(:title, 'About Us') %>
<div class="white_text" id="about_wrap">
  <div id="about_img" style="background-image:url('Images/about_page.jpg')">
    <h1 >About Community Nosh</h1>

    <p>
      My passion for food and love of food blogs prompted me to create a space
      where all types of food enthusiasts can come together.  The goal of this site
      is to offer food inspiration from the freshest in food blogging.
    </p>

  </div>

</div>






