<% provide(:title, 'Contact') %>
<div id="contact_pic">
  <img src="Images/contact_page.jpg" />
  <br/>
  <br/>
  <p>Photo courtesy of Joanne Wan</p>
</div>
<div id="contact_main">
  <h1>Contact</h1>
  <p>
    Have ideas for the site or just want to get in touch?  I'm
    Natalie Ann Low, and I can be reached at my name via the
    popular google mail service.
  </p>
</div>

