<% provide(:title, 'Demo') %>
<h1>Demo Info</h1>
<p>
  In order to offer a sneak peak of what I'm developing and to showcase
  the front-end work I've done with the help of
  <a href="http://www.mothercoders.org/give/">Mother Coders</a>, I've gone
  'live' with my project.  You'll find that most of the features don't
  work yet, as the site is no where near complete.  Feel free to click
  around and stay tuned for further features.
</p>


